block pageData
	-
		page = {}
		page.path = ''
		page.title = 'Sandbox'
		page.description = 'Experimentos e testes'

		pages = [
			{id: 'font-family', name: 'Font family'},
			{id: 'font-sizes', name: 'Font sizes'},
			{id: 'holder', name: 'Holder'},
			{id: 'navigator', name: 'Navigator'},
			{id: 'responsive-images', name: 'Responsive images'},
			{id: 'share', name: 'Share'},
			{id: 'xbox', name: 'Xbox'}
		]

extends /templates/home.jade

block content
	.justify-content-center.row
		.col-12.col-sm-8.col-md-6.col-lg-4
			.list-group
				each page in pages
					a.list-group-item.list-group-item-action(href='p/' + page.id + '.html')= page.name
