block pageData
	- var page = {}
	- page.path = ''
	- page.title = 'Sandbox'
	- page.description = 'Experimentos e testes'

extends /templates/default.jade

block content
	nav.navbar.navbar-light.bg-faded.m-b-1
		.container-fluid
			.row
				.col-xs-12.col-md-8.offset-md-2
					.navbar-brand= page.title
					button.navbar-toggler.pull-right(type='button', data-toggle='collapse', data-target='#navbar-menu')!= '&#9776; Menu'
			.row
				.col-xs-12.col-md-3.offset-md-7
					nav#navbar-menu.collapse.list-group.js-nav-section
	.container-fluid
		.row
			.col-xs-12.col-md-8.offset-md-2
				include /includes/font-family.jade
				include /includes/font-size.jade
				include /includes/holder.jade
				include /includes/navigator.jade
				include /includes/responsive-images.jade
				include /includes/share.jade
				include /includes/xbox.jade
		.small.text-center
			hr
			p!= '&copy; 2008-' + year + ' Sávio Mendes, '
				a(href='http://saviomd.com/')= 'saviomd.com'

	script.
		var navItens = [];
		$('.card').each(function(){
			var href = '#' + this.id;
			var text = $(this).find('.card-header').text();
			navItens.push('<a class="list-group-item" href="' + href + '">' + text + '</a>');
		});
		$('.js-nav-section').html(navItens).find('a').smoothScroll();
