extends /templates/home

block pageData
	-
		page = {}
		page.path = ''
		page.title = 'Sandbox'

		pages = [
			{id: 'flexbox', name: 'Flexbox'},
			{id: 'font-awesome', name: 'Font Awesome'},
			{id: 'font-family', name: 'Font family'},
			{id: 'font-sizes', name: 'Font sizes'},
			{id: 'holder', name: 'Holder'},
			{id: 'navigator', name: 'Navigator'},
			{id: 'responsive-images', name: 'Responsive images'},
			{id: 'share', name: 'Share'},
			{id: 'xbox', name: 'Xbox'}
		]

block content
	.max-w-xs.mb-4.mx-auto
		ul.border-grey-light.list-reset
			each page in pages
				li
					a.mb-4.w-full(class=style.btnPrimary, href='p/' + page.id + '.html')= page.name
