block pageData
	- var page = {}
	- page.path = ''
	- page.title = 'Sandbox'
	- page.description = 'Experimentos e testes'

extends /templates/default.jade

block content
	nav.navbar.navbar-light.bg-faded.mb-3
		.row
			.col
				.navbar-brand= page.title
			.col
				.dropdown.text-right
					button.btn.btn-secondary.dropdown-toggle(data-toggle='dropdown')= 'Menu'
					.dropdown-menu.dropdown-menu-right.js-nav-section
	.container-fluid
		.row
			.col-12.col-md-8.offset-md-2
				include /includes/font-family.jade
				include /includes/font-size.jade
				include /includes/holder.jade
				include /includes/navigator.jade
				include /includes/responsive-images.jade
				include /includes/share.jade
				include /includes/xbox.jade
		.small.text-center
			hr
			p!= '&copy; 2008-' + year + ' Sávio Mendes, '
				a(href='http://saviomd.com/')= 'saviomd.com'

	script.
		var navItens = [];
		$('.card').each(function(){
			var href = '#' + this.id;
			var text = $(this).find('.card-header').text();
			navItens.push('<a class="dropdown-item" href="' + href + '">' + text + '</a>');
		});
		$('.js-nav-section').html(navItens).find('a').smoothScroll();
