-
	site = {}
	site.lang = 'pt-BR'
	site.name = 'Sandbox'
	site.prod = true
	site.url= (site.prod ? 'https://saviomd.com/sandbox' : 'https://localhost:3000')

	date = new Date()
	year = date.getFullYear()
