-
	style = {}
	style.base = `font-sans leading-normal`
	style.btn = `inline-block p-2 no-underline rounded text-center`
	style.btnPrimary = `${style.btn} bg-blue-dark hover:bg-blue text-white`
	style.container = 'max-w-2xl mx-auto px-4'
	style.link = `no-underline hover:underline`
	style.linkPrimary = `${style.link} text-blue-dark hover:text-blue`
