- var fontSizes = ['72', '60', '48', '36', '24', '21', '18', '16', '14', '12', '11', '10', '9', '8', '7', '6']

.card#font-size
	h2.card-header= 'Font-size'
	.card-block
		each fontSize in fontSizes
			p(style='font-size: ' + fontSize + 'px')= fontSize + '. Lorem ipsum dolor sit amet'
