.small.text-center
	hr
	p!= '&copy; 2008-' + year
		a.ml-1(href='http://saviomd.com/', target='_blank')
			img.mr-1(alt='saviomd.com', src='https://saviomd.com/img/favicon.png', height='15', width='15')
			= 'Sávio Mendes'
