<!-- http://imsky.github.io/holder/ -->

.card.mb-3#holder
	h2.card-header= 'Holder.js'
	.card-block
		img.img-fluid(data-src='holder.js/800x600?auto=yes&bg=ccc&fg=666&text=Hello&size=30&align=left&outline=yes')
