<!-- http://rog.ie/post/9089341529/html5boilerplatejs -->

.card.mb-3#navigator
	h2.card-header= 'navigator'
	.card-body
		script.
			var sandbox = sandbox || {};
			sandbox.navigator = (function() {
				var htmlTag = document.documentElement;
				htmlTag.setAttribute('data-useragent', navigator.userAgent);
				htmlTag.setAttribute('data-platform', navigator.platform );
				// ex css: html[data-useragent*='Chrome/13.0'] p {background:#000}
				var html = '';
				html += '<p><strong>userAgent</strong>: ' + navigator.userAgent + '</p>';
				html += '<p><strong>platform</strong>: ' + navigator.platform + '</p>';
				html += '<p><strong>language</strong>: ' + navigator.language + '</p>';
				html += '<p><strong>cookieEnabled</strong>: ' + navigator.cookieEnabled + '</p>';
				html += '<p><strong>vendor</strong>: ' + navigator.vendor + '</p>';
				document.write(html);
			})();
