-
	var socialNetworks = [
		{
			'name': 'Facebook',
			'url': 'https://www.facebook.com/sharer/sharer.php?u={{url}}'
		},
		{
			'name': 'Twitter',
			'url': 'https://twitter.com/intent/tweet?url={{url}}&text={{text}}'
		},
		{
			'name': 'Google +',
			'url': 'https://plus.google.com/share?url={{url}}'
		}
	]
	var linkShare = {
		'url': encodeURIComponent(site.url + '/' + page.path),
		'text': encodeURIComponent(page.title)
	}

.card.mb-3#share
	h2.card-header= 'Share'
	.card-block
		each socialNetwork in socialNetworks
			- var url = socialNetwork.url.replace('{{url}}', linkShare.url)
			if (socialNetwork.name === 'Twitter')
				- url = url.replace('{{text}}', linkShare.text)
			a.btn.btn-secondary.js-link-share(href=url, target='_blank')= socialNetwork.name
			= ' '
	script.
		$('.js-link-share').on('click', function(e) {
			e.preventDefault();
			var href = $(this).attr('href');
			window.open(href, 'link-share', 'left=200, top=100, width=500, height=500');
		});
