.card.mb-3#xbox
	h2.card-header= 'Xbox'
	.card-block
		iframe(src='http://gamercard.xbox.com/pt-BR/saviomd.card', height='135', width='200')
		img(src='https://avatar-ssl.xboxlive.com/avatar/saviomd/avatar-body.png')
		img.img-fluid(src='https://avatar-ssl.xboxlive.com/avatar/saviomd/avatarpic-xl.png')
		img(src='https://avatar-ssl.xboxlive.com/avatar/saviomd/avatarpic-l.png')
		img(src='https://avatar-ssl.xboxlive.com/avatar/saviomd/avatarpic-s.png')
