block pageData
	-
		page = {}
		page.path = 'p/holder.html'
		page.title = 'Holder'

extends /templates/p.jade

block content
	//- http://imsky.github.io/holder/

	img(data-src='holder.js/800x600?auto=yes&bg=ccc&fg=666&text=Hello&size=30&align=left&outline=yes')

block script
	script(src='../assets/holder.min.js')
